{% extends "layout.html" %}

<meta name="description" content="Randomchatapp about page. Social media links and communication.">

{% block content %}

<div style="padding-top:1em; display: flex; align-content: center;" class="columns is-vcentered">
    <div class="column has-text-centered">
        <p style="color: whitesmoke; font-weight: bold; font-size: 1em; padding-top: 1.2em;">
            Randomchat is a free service that you can chat with anyone from any country. We value your privacy thus
            we don't keep your information or track you. All of your communication is encrypted. If you have
            questions or wishes feel free to follow us on social media and recommend to other people. More people
            means more diversity and better chat! Thank you for using this service.
        </p>
    </div>
</div>

<div class="columns has-text-centered">
    <div class="column">
        <h5 style="color: white;" class="subtitle has-text-centered"> Share us on social media</h2>
    </div>
</div>

<div class="columns has-text-centered">
    <div class="column">
        <a class="twitter-share-button" href="http://twitter.com/share?text=Visit us&url=https://randomchatapp.com
        " data-size="large">
            Tweet</a>

        <iframe
            src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Frandomchatapp.com&layout=button&size=large&width=77&height=28&appId"
            width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowTransparency="true" allow="encrypted-media"></iframe>

    </div>

</div>







<footer style="position: fixed; bottom: 0; min-width: 100vw; height: 7em;" class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Randomchatapp</strong> created by HexdumpLabs</a>. 2020
        </p>
        <div class="has-text-centered"><a href="https://twitter.com/randomchatapp1?ref_src=twsrc%5Etfw"
                class="twitter-follow-button" data-size="large" data-show-count="false">Follow @randomchatapp1</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</footer>



{% endblock content %}